#============================================================================
# Configure Main Scheduler Properties
#============================================================================

quartz.scheduler.instanceName = MyClusteredScheduler
quartz.scheduler.instanceId = AUTO

#============================================================================
# Configure ThreadPool
#============================================================================

quartz.threadPool.type = Quartz.Simpl.DefaultThreadPool, Quartz
quartz.threadPool.threadCount = 25
quartz.threadPool.threadPriority = 5

#============================================================================
# Configure JobStore
#============================================================================

quartz.jobStore.misfireThreshold = 60000

quartz.jobStore.type = Quartz.Impl.AdoJobStore.JobStoreTX
quartz.jobStore.driverDelegateType = Quartz.Impl.AdoJobStore.MySQLDelegate
quartz.jobStore.useProperties = false
quartz.serializer.type = json
quartz.jobStore.dataSource = quartznet
quartz.jobStore.tablePrefix = QRTZ_

quartz.jobStore.clustered = true
quartz.jobStore.clusterCheckinInterval = 20000

#============================================================================
# Configure Datasources
#============================================================================

quartz.dataSource.quartznet.provider = MySql
quartz.dataSource.quartznet.connectionString = Host=localhost;DataBase=quartznet;User id=root;Password=123456;Pooling=true;Min Pool Size=0;Max Pool Size=100;


quartz.plugin.recentHistory.type = Quartz.Plugins.RecentHistory.ExecutionHistoryPlugin, Quartz.Plugins.RecentHistory
quartz.plugin.recentHistory.storeType = Quartz.Plugins.RecentHistory.Impl.InProcExecutionHistoryStore, Quartz.Plugins.RecentHistory

quartz.plugin.notify.type = Quartz.Plugins.Nodify.NotifyPlugin, Quartz.Plugins.Nodify
quartz.plugin.notify.emailFrom = 
quartz.plugin.notify.emailFromName = 
quartz.plugin.notify.emailServer = 
quartz.plugin.notify.emailPort = 25
quartz.plugin.notify.emailUser = 
quartz.plugin.notify.emailPassword = 